.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.css-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
    width: 50vh;
    height: 70vh;
    max-height: 480px;
}

.inputs {
    display: flex;
    flex-direction: column;
}